html, html body {
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}

table.all > tbody > tr > td {
	vertical-align: top;
	width: 100%;
	padding: 2%;
}

table.all > tbody > tr > td div.card-wrapper {
	overflow: hidden;
}

table.card tr.labels {
	font-weight: bold;
	font-size: 14pt;
}

table.card tr.summary td {
	font-weight: bold;
	font-size: 23pt;
	padding-top: 10px;
}

table.card tr.description td {
	padding-top: 10px;
	font-size: 16pt;
	line-height: 20pt;
}

table.card tr td.meta {
	width: 60%;
}

table.card tr td.meta span.priority,
table.card tr td.meta span.version,
table.card tr td.meta span.type {
	font-weight: bold;
	margin-left: 3px;
}

table.card tr td.meta span.storypoints {
	font-size: 18pt;
	font-weight: bold;
}

table.card tr:first-child td {
	vertical-align: top;
}

table.card h1 {
	margin: 0;
	font-size: 18pt;
}

table.card h2 {
	font-size: 16pt;
}

table.card tr.estimation td span.estimation {
	font-weight: bold;
}

table.card tr.links td {
	padding-top: 10px;
}

.page-break {
	page-break-before: always;
}