html, html body {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

table.all > tbody > tr > td {
    vertical-align: top;
    border: 1pt solid #EFEFEF;
    width: 46%;
    padding: 2%;
}

table.all > tbody > tr > td div.card-wrapper {
    height: 7.85cm;
    overflow: hidden;
}


table.card tr.summary td {
    font-weight: bold;
    font-size: 15pt;
    padding-top: 10px;
}

table.card tr.description td, table.card tr.estimation td {
    padding-top: 10px;
}

table.card tr td.meta {
    width: 60%;
}

table.card tr td.meta span.priority,
table.card tr td.meta span.version {
    font-weight: bold;
}

table.card tr:first-child td {
    vertical-align: middle;
}

table.card h1 {
    margin: 0;
    font-size: 20pt;
}

table.card tr.estimation td span.estimation {
    font-weight: bold;
}

.page-break {
    page-break-before: always;
}

/************/
/* subtasks */
/************/

table.card .subtasks>td {
    padding: 10px;
}

table.card .subtasks h3{
    font-size: 14pt;
    margin: 5px 0 0 0;
}

table.card .subtasks table span.summary{
    font-size: 12pt;
    font-weight: bold;
}

table.card .subtasks table th:first-child {
    text-align: left;
    padding-left: 20px;
}

table.card .subtasks table tr {
    border: 1px solid #666;
}

table.card .subtasks table tr:first-child {
    border: none;
}

table.card .subtasks table td {
    padding: 10px;
}

table.card .subtasks table td.type {
    width: 16px;
}

table.card .subtasks table td.done {
    text-align: center;
    width: 60px;
}

table.card .subtasks table td.done input{
    height: 23px;
    width: 23px;
}